<div>
  <h3>{{title}}</a>
  </h3>
  <p>{{body}}</p>
  <p>By {{user.username}}</p>
  {{log user.username}}
  {{comment}}
   {{!-- {{log "HELLLOOOO FROM THE COMMENT"}} --}}
</div>
{{#if comments.length}}
  <h4>Comments:</h4>
  {{#each comments as |comment|}}
    <p>
      "{{comment.comment_body}}" by {{commentauthor_id.username}}
    </p>
  {{/each}}
{{/if}}

{{#if logged_in}}
  <div class="col-md-6">
    <h2>Share your thoughts...</h2>
    <form class="form add-comment-form" data-attribute="{{id}}">
      <div class="form-group">
        <label for="comment-body">Add your comment:</label>
        <input class="form-input" type="text" id="comment-body" /> 
        
      </div>
      <div class="form-group">
        <p> {{getGuideline}}</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit-comment">Post</button>
      </div>   
    </form>
  </div>

<script src="./js/addComment.js"></script>
{{/if}}